@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
  padding: 0;
  margin: 0;
}

/* button styles */
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.btn {
  padding: 17px 26px 17px 26px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 480;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  border: none;
  background: rgb(82, 195, 3);
  cursor: pointer;


}

/* hero section styles */
#hero {
  background: linear-gradient(0.00deg, rgb(9, 9, 9) 2.884%, rgba(16, 16, 16, 0) 101.034%), url('../assets/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1536px;
  height: 736px;
  left: 1536px;
  top: 736px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 818px;

}

#hero .hero-content .subtitle {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 13px;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 51px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19px;
}

#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 26px;
}

/* card-box styles */
#card-box {
  width: 1056px;
  margin: 134px auto;
}

#card-box .container .taitle {
  margin: 0 252px 38px 252px;
}

#card-box .hedding-taitle {
  margin-top: 35px;
}

#card-box .container .taitle .subtaitle {
  opacity: 0.6;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 19px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

#card-box .container .taitle .hedding-taitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  margin-bottom: 103px;

}

.card .card-img {
  width: 100%;
  height: 226px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
  border-radius: 13px;
}

.card .card-img img {
  width: 100%;
  height: 100%;
}

.card .card-text {
  width: 100%;
  height: 166px;
}

.card .card-text .shop {
  border-radius: 86x;
  background: rgba(82, 195, 3, 0.15);
  padding: 11px 26px 11px 26px;
  margin-top: 25px;
}

.card-text h1 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: center;
  margin: 19px 0px;
}

.card-text p {
  opacity: 0.7;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 50px;
}

/* about section styls */
#about {
  width: 1516px;
  height: 537px;
  display: flex;
}

#about .about-img img {
  width: 768px;
  height: 100%;
}

.about-text {
  width: 664px;
  height: 318px;
  margin: 110px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32;
  padding: 0px;
}
.about-text .taitle {
  text-align: center;
  margin-bottom: 38px;
}

.about-text h1 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0%;
  text-align: center;
}

.about-text p {
  opacity: 0.6;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 19px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.about-text .follow {
  opacity: 0.7;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
}